<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/EAEA7A6A30CF7AF96370D97FEACA1ABBFBBF4D837AB24391566BE5C67F71DF8E/scale?width=1200&aspectRatio=1.78&format=jpeg" 
        alt="" 
        height="200px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet risus suscipit, 
            lobortis tellus sit amet, dapibus libero. Fusce quis dignissim dui. 
            
        </p>
    </div>

</div>
